[submodule "Datawarehouse"]
	path = Datawarehouse
	url = https://github.com/ronakr14/Datawarehouse.git
[submodule "Database"]
	path = Database
	url = https://github.com/ronakr14/Database.git
[submodule "SQL"]
	path = SQL
	url = https://github.com/ronakr14/SQL.git
[submodule "NoSQL"]
	path = NoSQL
	url = https://github.com/ronakr14/NoSQL.git
