[submodule "Python"]
	path = Python
	url = https://github.com/ronakr14/Python.git
[submodule "Markdown"]
	path = Markdown
	url = https://github.com/ronakr14/Markdown.git
[submodule "Scala"]
	path = Scala
	url = https://github.com/ronakr14/Scala.git
[submodule "C"]
	path = C
	url = https://github.com/ronakr14/C.git
[submodule "CPlusPlus"]
	path = CPlusPlus
	url = https://github.com/ronakr14/CPlusPlus.git
[submodule "Java"]
	path = Java
	url = https://github.com/ronakr14/Java.git
[submodule "Javascript"]
	path = Javascript
	url = https://github.com/ronakr14/Javascript.git
[submodule "HTML"]
	path = HTML
	url = https://github.com/ronakr14/HTML.git
[submodule "Bash"]
	path = Bash
	url = https://github.com/ronakr14/Bash.git
